{% extends 'layout.html.twig' %}
 
{% block content %}
<div class="hero-unit">
	<h1>PeerIndex Challenge Twitter</h1>
	<p>Technical test for <a href="http://peerindex.com">PeerIndex</a>. This challenge is available <a href="https://github.com/mikefox/php-developer-assessment">here</a>.To try it please sign-in with your Twitter account.</p>
	<a href="signin" class="btn btn-primary">Sign-In</a>
</div>
{% endblock %}